* {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 15px;
    font-family:  'Orbitron', sans-serif;
}

button {
    margin: 5px;
    padding: 15px;
    width: 70px;
    border: 3px double grey;
}

.calculator {
    margin: auto;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    width: max-content;
    flex-direction: column;
    padding: 15px;
    border: 4px double grey;
}

.screens {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    border: 5px double black;
    width: 280px;
    padding: 10px;
    background-color: grey;
    font-family:  'Black Ops One', sans-serif;
}

#info-screen,
#result-screen {
    font-size: 35px;
    background-color: grey;
}

#result-screen {
    align-self: flex-end;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
    display: flex;
    align-self: center;
}

.first-row {
    padding-top: 10px;
}

#\= {
    background-color: green;
}

#\/ {
    background-color: purple;
}

#\+ {
    background-color: blue;
}

#\- {
    background-color: violet;
}

#\* {
    background-color: orangered;
}

#clear {
    background-color: red;
}