* {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 15px;
    font-family:  'Orbitron', sans-serif;
}

.button {
    margin: 5px;
    padding: 15px;
    width: 70px;
    border: 3px double grey;
    text-align: center;
    height: 30px;
}

.number,
.operator,
.clear,
.remove {
    transition: height 0.2s,
                width 0.2s,
                margin 0.2s,
                box-shadow 0.2s;
}

.number:hover,
.remove:hover,
.operator:hover,
.clear:hover {
    height: 25px;
    width: 65px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.number:hover,
.remove:hover {
    border: 3px solid whitesmoke;
    box-shadow: -5px -5px 3px whitesmoke;
}

.clear:hover {
    border: 3px solid lightcoral;
    box-shadow: -5px -5px 3px lightcoral;
}

#\*.operator:hover {
    border: 3px solid lightsalmon;
    box-shadow: -5px -5px 3px lightsalmon;  
}

#\/.operator:hover {
    border: 3px solid palevioletred;
    box-shadow: -5px -5px 3px palevioletred;  
}

#\-.operator:hover {
    border: 3px solid palevioletred;
    box-shadow: -5px -5px 3px palevioletred;  
}

#\+.operator:hover {
    border: 3px solid lightblue;
    box-shadow: -5px -5px 3px lightblue;  
}

#\=.operator:hover {
    border: 3px solid lightgreen;
    box-shadow: -5px -5px 3px lightgreen;  
}

.blink {
    animation: blinker 0.15s;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
} 

.calculator {
    margin: auto;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    width: max-content;
    flex-direction: column;
    padding: 15px;
    border: 4px double grey;
    box-shadow: -8px -12px 0px rgb(50, 50, 50);
}

.screens {
    display: flex;
    flex-direction: column;
    border: 5px double black;
    width: 450px;
    padding: 10px;
    background-color: grey;
    font-family:  'Black Ops One', sans-serif;
}

#info-screen{
    font-size: 25px;
    background-color: grey;
    word-wrap: break-word;
}

#result-screen {
    font-size: 35px;
    background-color: grey;
}

#result-screen {
    align-self: flex-end;
}

.top-row,
.first-row,
.second-row,
.third-row,
.fourth-row {
    display: flex;
    align-self: flex-end;
    margin-right: 8px;
}

#\. {
    width: 115px;
}

#\= {
    background-color: green;
    width: 140px;
}

#\/ {
    background-color: purple;
}

#\+ {
    background-color: rgb(40, 40, 184);
}

#\- {
    background-color: violet;
}

#\* {
    background-color: orangered;
}

#clear {
    background-color: red;
    width: 140px;
}

#remove {
    width: 115px;   
}

.solar-panels{
    border: 2px solid darkolivegreen;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 5px;
}

.panel {
    border: 2px solid darkolivegreen;
    background-color: darkgoldenrod;
    border-radius: 2px;
    padding: 10px;
}