* {
    font-size: 25px;
    border-radius: 15px;
    font-family: 'Alfa Slab One', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --calc-width: max(16rem, 20vw);
    --button-width: max(4rem, 5vw);
}

html{
    background: url("./image.png") repeat-y;
    background-size: 100%;
}

.calculator {
    background-color: rgb(85, 85, 85);
    margin: auto;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--calc-width);
    height: max(485px, 70vh);
    flex-direction: column;
    padding: 1vw;
    border: 4px double grey;
    box-shadow: -8px -12px 0px rgb(50, 50, 50);
}

.brand {
    align-self: flex-start;
    background-color: rgb(85,85,85);
    top: 1vh;
}

.solar-panels{
    border: 2px solid darkolivegreen;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-right: 0.2rem;;
    margin-bottom: 0.2rem;
    top: 1vh;
}

.panel {
    border: 2px solid darkolivegreen;
    background-color: darkgoldenrod;
    border-radius: 2px;
    padding: 10px;
}

.screens {
    display: flex;
    flex-direction: column;
    border: 5px double black;
    width: 90%;
    padding: 10px;
    background-color: olive;
    font-family:  'Black Ops One', sans-serif;
    letter-spacing: 0.2ch;
    height: 15%;
    top: 8vh;
}

#info-screen{
    font-size: 25px;
    background-color: olive;
    word-wrap: break-word;
    color: black;
}

#result-screen {
    font-size: 35px;
    background-color: olive;
    align-self: flex-end;
    color: black;
}

.top-row,
.first-row,
.second-row,
.third-row,
.fourth-row {
    background-color: rgb(85, 85, 85);
    display: flex;
    align-self: center;
    width: var(--calc-width);
}

#clear {
    background-color: red;
    width: calc(var(--button-width) * 2 )
}

.button {
    margin: 1vh 0.5vw;
    padding: 1vh 0.5vw;
    width: var(--button-width);
    border: 3px double black;
    text-align: center;
    background-color: grey;
    color: black;
}

.number,
.operator,
.clear,
.remove {
    transition: height 0.2s,
                width 0.2s,
                padding 0.2s,
                box-shadow 0.2s;
}

.number:hover,
.remove:hover {
    border: 3px solid whitesmoke;
    box-shadow: -5px -5px 3px whitesmoke;
}

.clear:hover {
    border: 3px solid rgb(255, 130, 130);
    box-shadow: -5px -5px 3px rgb(255, 130, 130);
}

/* multiply */
#\* {
    background-color: orangered;
}

#\*.operator:hover {
    border: 3px solid lightsalmon;
    box-shadow: -5px -5px 3px lightsalmon;  
}

/* divide */
#\/ {
    background-color: purple;
}

#\/.operator:hover {
    border: 3px solid rgb(240, 80, 240);
    box-shadow: -5px -5px 3px rgb(240, 80, 240);
}

/* subtract */
#\- {
    background-color: violet;
}

#\-.operator:hover {
    border: 3px solid rgb(210, 150, 190); 
    box-shadow: -5px -5px 3px rgb(210, 150, 210);  
}

/* add */
#\+ {
    background-color: rgb(40, 40, 184);
}

#\+.operator:hover {
    border: 3px solid rgb(90, 120, 180);
    box-shadow: -5px -5px 3px rgb(90, 120, 180);
}

/* equals */

#\= {
    background-color: green;
    width: calc(var(--button-width) * 2 )
}

#\=.operator:hover {
    border: 3px solid lightgreen;
    box-shadow: -5px -5px 3px lightgreen;  
}


/* blink effect */

.blink {
    animation: blinker 0.15s;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
} 